{% extends "base.html" %}
<h1> this is the login page</h1>
{% block content %}
<div class="row mt-5" >
    <div class="col-6 offset-3">
        <div class="card">
            <h4 class="card-header"> Doctor Login</h4>
            <div class="card-body"> 
              {% for message in messages %}
              <div class="alert alert-messages.tags">{{message}}</div>
              {% endfor %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username"  id="username" required>
        
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name= "password"  id="password" required>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
            </h3>
        </div>

</div>


</div>

{% endblock content %}